*.iml
.gradle
.kotlin
/local.properties
.idea/
/.idea
.DS_Store
/build
app/build/
**/build/
/captures
.externalNativeBuild
.cxx
local.properties
.env
debug.keystore
*.jks
*.keystore
*.apk
*.aab
app/release/
release/
google-services.json
app/google-services.json
serviceAccountKey.json
**/serviceAccountKey.json
known_sismos.json
**/node_modules/
backend/functions/node_modules/
